.header-section{
    @apply text-4xl text-gray-700 font-bold pt-4 pb-6 lg:text-5xl xl:text-6xl pt-8
}

.header-page{
    @apply text-3xl font-bold font-body py-3 relative text-white drop-shadow-2xl isolate md:text-5xl xl:text-7xl
}

.mainBackground-page{
    @apply bg-no-repeat bg-cover bg-gray-300 bg-blend-multiply w-full h-screen rounded-xl
}

.typing-effect {
    width: 20ch;
    overflow: hidden;
    animation: typing 1s steps(10) alternate;
}
    
@keyframes typing {
    from { width: 0ch; }
}
    

.section-format{
    @apply mt-14 mx-auto justify-center font-body max-sm:w-5/6 md:w-3/4 xl:container
}

.horizontal-list{
    @apply flex flex-wrap flex-row
}

.horizontal-list-boxElement{
    @apply mx-10 my-auto text-lg mobile:text-xl md:text-2xl font-semibold
}


  
  .pic__masked {
    -webkit-mask: radial-gradient(closest-side at center, black 50%, transparent 100%);
    mask: radial-gradient(closest-side at center, black 50%, transparent 100%);
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    animation: 3s linear infinite 3s alternate blurScale;
  }
  
  @keyframes blurScale {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }