.main-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-weight: bold;
}
.main-content{
    @apply h-[50%] lg:h-[100vh]
}

.main-side {
    position: relative;
    flex: 1;
    transition: flex 0.6s ease, filter 0.6s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.main-side img,
.main-side {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-side h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    transition: transform 0.5s ease;
}

.left {
    background: #111;
}

.right {
    background: #333;
}

.main-side.active {
    flex: 1.5;
}

.main-side.inactive {
    flex: 0.5;
    filter: brightness(0.6);
}

.main-logo {
    position: absolute;
    background: #80143c;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.6s ease;
    z-index: 10;
    width: clamp(120px, 12vw, 225px);
    height: clamp(120px, 12vw, 225px);

}

.main-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logoLeft {
    transform: translate(-200%, -50%);
}

.logoRight {
    transform: translate(100%, -50%);
}
@media screen and (max-width: 1156px){
    .main-side h1{
        font-size: 2rem;
    }
}
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        height: auto;
    }

    .main-side {
        flex: unset;
        width: 100%;
        height: 50vh;
        transition: none;
    }

    .main-side h1 {
        font-size: 2rem;
        transition: none;
    }
    .main-logo{
        width: 150px;
        height: 150px;
    }

    .main-logo,
    .logoLeft,
    .logoRight {
        transform: translate(-50%, -50%) !important;
        transition: none;
    }
}
@media screen and (max-width: 316px) {
    .main-side h1{
        font-size: 1.5rem;
    }
}
